*{
    margin: 0;
    padding: 0;
}

#img_banner{
    
    width: 100%;
}





main{
    height: 2000px;
    background-image: linear-gradient(black, rgb(21, 21, 21), rgb(90, 90, 90));
}

nav{
    background-color: black;
    display: flex;
    height: 135px;
    width: 100%;
}

header{
    background-color: black;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

#img_menu{
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/*

header{
    height: 250px;
}

nav{
    background-color: black;
    display: flex;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style-type: none;
    
}

#img_nav{
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}


.ul_nav{
    display: flex;
    width: 50px;
    justify-content: space-evenly;
} */




